
  <img src="https://us.martinique.org/sites/martinique/files/kisspng-logo-spotify-issuu-soundcloud-spotify-logo-5b2a6589937ea5.8739811215295051616042.png"
  alt="logo" width="200px" height="70px">

<div class="content">
    <div class="example-card" fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="example-card" [ngStyle]="setMyStyles()">
        <div>
          <div mat-card-avatar src='https://material.angular.io/assets/img/examples/shiba1.jpg' class="example-header-image"></div>
        </div>
          <mat-card-content>
          NOM PRENOM
          
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
      <div class="spaceBetweenMatCard" fxLayout="row" fxLayoutAlign="center center">
        <button class="buttonMatch"  (click)="matchButtonClick()"   onclick="style.display = 'none'"> 
          MATCH ?
        </button>

        <div [hidden]="!showText" [style.height]="showText ? '150px' : '0px'" class="textMatch">
           {{num}}
        </div>
        
      </div>
      <mat-card class="example-card" [ngStyle]="setMyStyles()">
        <div>
          <div mat-card-avatar src='https://material.angular.io/assets/img/examples/shiba1.jpg' class="example-header-image"></div>
        </div>
          <mat-card-content>
          NOM PRENOM
          
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
