
<body>
  <img src="https://us.martinique.org/sites/martinique/files/kisspng-logo-spotify-issuu-soundcloud-spotify-logo-5b2a6589937ea5.8739811215295051616042.png"
  alt="logo" width="300px" height="100px">
  
  
  <div class="example-card">
    <mat-card class="example-card" [ngStyle]="setMyStyles()">
      <div>
        <div mat-card-avatar src='https://material.angular.io/assets/img/examples/shiba1.jpg' class="example-header-image"></div>
      </div>
        <mat-card-content>
        NOM PRENOM
        
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
</body>
