@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');

.content{
    margin-top: 6%;
    font-family: 'Gotham Ultra', sans-serif;
}

.header{
    
    background-color: #303137;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    a{
        background-color: transparent;
        text-decoration: none;
        color: white;
        font-family: 'Gotham Black', sans-serif;
        font-size: 45px;
    }
}

.rightOption{
    width: 15rem;
    display: flex;
    a{
        margin-right: 2rem;
    }
    .mat-icon{
        display: flex;
        align-items: center;
        font-size: 50px;
    }
}

