@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');

.content-match {
  height: 100%;
  background-color: #121212;
}

.content-card {
  padding-top: 100px;
}

.example-card {
  width: 100%;
  display: inline-block;
  justify-content: center;

  .mat-card {
    width: 300px;
    height: 400px;
    padding: 0;
    animation: pulse 3s infinite;
    color: white;
    font-family: 'Gotham Black', sans-serif;

    &:hover {
      animation: pulse 1s infinite;
    }

    .mat-card-content {
      font-size: 30px;
      text-align: center;
    }
  }

  .buttonMatch {
    margin-right: 1%;
    margin-left: 1%;
    color: #ffff;
    font-size: 30px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 0 0px #fff, 0px 0px 0 0px #555a86;
    transition: linear 0.3s;
    background: #273746;
    color: white;
    font-family: 'Gotham Black', sans-serif;

    &:hover {
      background: white;
      color: black;
      animation: pulse 0.8s infinite;
    }

    &:active {
      animation: fade 10s;

    }
  }
}

.spaceBetweenMatCard {
  width: 30%;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0, 5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  60% {
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@keyframes pulseButton {
  0% {
    box-shadow: 0px 0px 0 1px #333, 0px 0px 0 4px #555a86;
    opacity: 1;
  }

  100% {
    box-shadow: 0px 0px 0 6px #333, 0px 0px 0 8px #555a86;
    opacity: 0.9;
  }
}

.textMatch {
  color: #fff;
  transition: height 2s linear;
  height: 100%;
}

.example-header-image {
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: auto;
}



.sideNav {
  margin-top: 10px;
  background-color: #303137;
  color: #fff;
}

.sideNavList {
  width: 300px;
  display: flex;
  flex-direction: column;
  li:hover{
    background-color: #121212;
    opacity: 0.5;
  }
}

.itemDrag {
  padding: 20px 10px;
  display: flex;
  box-sizing: border-box;
  cursor: grab;
  font-size: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.itemDrag:last-child {
  border: none;
  color: white;
  font-family: 'Gotham Ultra', sans-serif;
}

.sideNavList.cdk-drop-list-dragging .itemDrag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



.drop-zone {
  border: solid #303137;
  border-style: dashed;
  box-sizing: border-box;
  width: 310px;
  height: 410px;

  ul {
    margin: 0;
    padding: 0;
    width: 310px;
    height: 410px;
    display: flex;

    li {
      padding: 1px;
    }
  }

}

.button-menu {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;

  .mat-icon {
    font-size: 40px;
  }
}


.sidenav-title {
  margin-top: 10px;
  font-size: 50px;
  text-align: center;
}

.side-nav-friendlist {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.itemCardDropZone {
  display: flex;
  box-sizing: border-box;
}