<div class="page-api">
    <app-navbar></app-navbar>

    <div class="content">

        <div class="line">
            <h1>Bienvenue sur Spotimatch ! </h1>
            Site web directement lié à notre Api et l'Api de Spotify. Notre but étant donnée le pourcentage de correspondance avec vous et vos amis !<br>
            Nous stocké en bd les inforamtions recues par l'Api de Spotify et analysons vos sons playlists et coup de coeurs en commun en fonction de ce que vous écoutez
            en ce moment ! <br>
            Donc cela peut varié au fur et à messure le pourcentage n'est pas périn dans le temps.

        </div>

        <div class="line" style="background-color: #F0F3F4; color: black;">
            


        </div>

        <div class="line">

            vvvv

        </div>


    </div>
</div>
