<div class="page-api">
    <app-navbar></app-navbar>

    <div class="content">

        <div class="line">
            <h1>Bienvenue sur Spotimatch ! </h1>
            Site web directement lié à notre Api et l'Api de Spotify. Notre but étant donnée le pourcentage de correspondance avec vous et vos amis !<br>
            Nous stocké en bd les inforamtions recues par l'Api de Spotify et analysons vos sons playlists et coup de coeurs en commun en fonction de ce que vous écoutez
            en ce moment ! <br>
            Donc cela peut varié au fur et à messure le pourcentage n'est pas périn dans le temps.

        </div>

        <div class="line" style="background-color: #F0F3F4; color: black; align-items: flex-end;">
            Le stie web est très intuitif. Il suffit de vous connecter avec Spotify, <br>
            ce qui crééra par la suite un compte sur SpotiMatch. <br>
            Par la suite vous allez atterrir sur la Homepage. <br>
            Vous verez ensuite votre carte qui représente votre profil. <br>
        </div>

        <div class="line">

            A partir de cet écran vous pouvez ajouter la carte d'un ami qui se trouve sur le site. <br>
            Pour ajouter un ami, il suffit de prendre son nom dans la liste d'ami et le drop dans la "drop zone" <br>
            Ensuite il suffit juste d'appuyer sur le bouton Match est le pourcentage s'affichera ! <br>

        </div>


    </div>
</div>
